<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="height: 1900px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>rentopia rent and sell</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="../public/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="../public/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="../public/css/Navbar-Centered-Brand-Dark-icons.css">
</head>

<body>


{{>navbar}}

    {{{body}}}

{{>footer}}

    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="../public/js/bs-init.js"></script>
    <script src="../public/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="../public/js/Lightbox-Gallery.js"></script>
    <script src="../public/js/colorMode.js"></script>
    <script src="../public/js/login.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/logout.js"></script>
    <script src="../public/js/profile.js"></script>

</body>

</html>