<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>product</title>
    <link rel="stylesheet" href="../public/product/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
</head>

<body>
     <section class="search-section py-4 py-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <form action="/search" method="GET" class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search for items..." required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link active" href="#">rent</a></li>
                <li class="nav-item"><a class="nav-link" href="#">buy</a></li>
                <li class="nav-item"><a class="nav-link" href="/search-results">Search-results</a></li>
            </ul>
        </div>
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
    <div data-reflow-type="product-list" data-reflow-order="date_desc"></div>
    <script src="../public/product/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="../public/product/assets/js/bs-init.js"></script>
</body>

</html>