
    <h1>Search Results</h1>
    <ul>
        {{#each items}}
        <li>
            <h3>{{item_name}}</h3>
            <p>Description: {{description}}</p>
            <p>Price: {{price}}</p>
            <p>Posted by: {{User.email}}</p>
        </li>
        {{/each}}
    </ul>
<script src="../public/js/index.js"></script>