* {
    box-sizing: border-box;
}
:root {
    --darkmode-bg: #073b4c;
    --darkmode-text: #fff;
    --darkmode-btn: #118ab2;
    --darkmode-btn-hover: #06d6a0;
    --darkmode-btn-text: #fff;
    --darkmode-btn-text-hover: #e9d8a6;
    --lightmode-bg: #edf6f9;
    --lightmode-text: #000;
    --lightmode-btn: #22223b;
    --lightmode-btn-hover: #4a4e69;
    --lightmode-btn-text: #fff;
    --lightmode-btn-text-hover: #e9d8a6;
    }

    body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--darkmode-bg);
    color: var(--darkmode-text);
    }


.form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .form-btn:hover {
    background-color: #555;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* This ensures the login card is centered vertically even if there's little content */
  }